<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About me</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>
          some text here Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe eveniet aperiam adipisci repellat debitis magnam vero, ut quis obcaecati sunt! Alias assumenda ratione laboriosam, ad neque, placeat natus nostrum sit repudiandae sequi ipsum ducimus veritatis voluptate. Fugiat quasi temporibus quaerat deleniti, minus rerum quas explicabo officia fugit corporis neque aliquid omnis, provident eos fuga at praesentium? Vitae, et ut? Praesentium, atque. Cumque corrupti laborum distinctio, praesentium impedit beatae aliquid in? Quasi, ducimus hic quos eos nam, delectus earum laborum quam, incidunt ipsa ad recusandae aspernatur similique quod molestiae exercitationem nulla vitae deleniti officia maiores veniam nemo. Laudantium nulla atque praesentium?    

        </p>
      </div>
      <div class="col-lg-4">
        <p>
          and also here Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe eveniet aperiam adipisci repellat debitis magnam vero, ut quis obcaecati sunt! Alias assumenda ratione laboriosam, ad neque, placeat natus nostrum sit repudiandae sequi ipsum ducimus veritatis voluptate. Fugiat quasi temporibus quaerat deleniti, minus rerum quas explicabo officia fugit corporis neque aliquid omnis, provident eos fuga at praesentium? Vitae, et ut? Praesentium, atque. Cumque corrupti laborum distinctio, praesentium impedit beatae aliquid in? Quasi, ducimus hic quos eos nam, delectus earum laborum quam, incidunt ipsa ad recusandae aspernatur similique quod molestiae exercitationem nulla vitae deleniti officia maiores veniam nemo. Laudantium nulla atque praesentium?    

        </p>
      </div>
      
    </div>
  </div>
</section>
